process {
    withName: 'HIFIASM' {
        ext.args = { [
            '--dual-scaf',
            '--telo-m CCCTAA',
            '-f0 -k30 -w30 -D10 -r1 -N1'
        ].join(' ') }
    }

    withName: 'YAK_COUNT' {
        ext.args = '-k31 -b0'
        ext.prefix = { "${meta.id}_yak" }
    }

    withName: 'GFASTATS' {
        ext.args = '--discover-paths'
        ext.prefix = { "${meta.id}_haplotype_${meta.haplotype}" }
    }
}
