params {
    preset = "pacbio"
    phaser = "longphase"
}

process {

    withName: 'SHORT_VARIANT_CALLING:DEEPVARIANT_RUNDEEPVARIANT' {
        ext.args = { [
            '--model_type PACBIO',
            "--sample_name=${meta.id}",
            '-vcf_stats_report=False'
        ].join(' ') }
    }

    withName: 'SHORT_VARIANT_CALLING:BCFTOOLS_CONCAT' {
        ext.prefix = { "${meta.id}_concat" }
        ext.args = [
            '--no-version',
            '--allow-overlaps'
        ].join(' ')
    }

    withName: 'SHORT_VARIANT_CALLING:BCFTOOLS_NORM_SINGLESAMPLE' {
        ext.prefix = { "${meta.id}_norm_singlesample" }
        ext.args = [
            '--no-version',
            '-m -',
            '-w 10000',
            '--output-type z',
            '--write-index=tbi',
        ].join(' ')
    }

    withName: 'SHORT_VARIANT_CALLING:BCFTOOLS_FILLTAGS' {
        ext.prefix = { "${meta.id}_ac" }
        ext.args = [
            '--no-version',
            '--output-type u'
        ].join(' ')
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args = [
            '-x map-hifi',
            '-y'
        ].join(' ')
    }
    withName: 'METHYLATION:MODKIT_PILEUP' {
        ext.args = { [
            '--combine-mods',
            '--cpg',
            '--combine-strands',
            !params.skip_phasing ? '--partition-tag HP' : '',
        ].join(' ') }
        ext.prefix = { "${meta.id}_modkit_pileup" }
    }
    withName: 'METHYLATION:TABIX_BGZIPTABIX' {
        ext.prefix = { "${input.simpleName}" }
    }
    withName: 'PHASING:BCFTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
        ext.args = [
            '--output-type z',
            '--write-index=tbi',
        ].join(' ')
    }
    withName: 'PHASING:LONGPHASE_PHASE' {
        ext.prefix = { "${meta.id}_phased" }
        ext.args = [
            '--pb',
            '--indels'
        ].join(' ')
    }
    withName: 'PHASING:LONGPHASE_HAPLOTAG' {
        ext.prefix = { "${meta.id}_haplotagged" }
    }
}
