params {
    preset = "pacbio"
    phaser = "longphase"
}

process {
    withName: 'MINIMAP2_ALIGN' {
        ext.args = [
            '-x map-hifi',
            '-y'
        ].join(' ')
    }
    withName: 'METHYLATION:MODKIT_PILEUP' {
        ext.args = { [
            '--cpg',
            '--combine-strands',
            !params.skip_phasing ? '--partition-tag HP' : '',
        ].join(' ') }
        ext.prefix = { "${meta.id}_modkit_pileup" }
    }
    withName: 'METHYLATION:TABIX_BGZIPTABIX' {
        ext.prefix = { "${input.simpleName}" }
    }
    withName: 'PHASING:BCFTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
        ext.args = [
            '--output-type z',
            '--write-index=tbi',
        ].join(' ')
    }
    withName: 'PHASING:LONGPHASE_PHASE' {
        ext.prefix = { "${meta.id}_phased" }
        ext.args = [
            '--pb',
            '--indels'
        ].join(' ')
    }
    withName: 'PHASING:LONGPHASE_HAPLOTAG' {
        ext.prefix = { "${meta.id}_haplotagged" }
    }
    withName: 'METHYLATION:MODKIT_BEDMETHYLTOBIGWIG' {
        ext.prefix = { "${bedmethyl.simpleName}" }
    }
}
