process {

    withName: 'ADD_FOUND_IN_TAG' {
        ext.args = '--output-type b --write-index=csi'
    }

    withName: 'BCFTOOLS_MERGE' {
        ext.args = '--force-single --output-type z --no-version --write-index=tbi'
    }

    withName: 'BCFTOOLS_QUERY' {
        ext.args = '--list-samples'
    }

    withName: 'CREATE_SAMPLES_FILE' {
        ext.prefix = { "${meta.id}_samples_file" }
    }

    withName: 'BCFTOOLS_REHEADER' {
        ext.prefix = { "${meta.id}_reheader" }
        ext.args2 = '--output-type z --write-index=tbi'
    }
}
