process {

    withName: 'ADD_FOUND_IN_TAG' {
        ext.args = '--no-version'
        ext.args2 = [
            '--output-type b',
            '--write-index=csi',
            '--no-version'
        ].join(' ')
    }

    withName: 'SVDB_MERGE' {
        ext.prefix = { "${meta.id}_svs" }
        ext.args = [
            '--bnd_distance 1000',
            '--overlap .5'
        ].join(' ')
    }

    withName: 'BCFTOOLS_QUERY' {
        ext.args = '--list-samples'
    }

    withName: 'CREATE_SAMPLES_FILE' {
        ext.prefix = { "${meta.id}_samples_file" }
    }

    withName: 'BCFTOOLS_REHEADER' {
        ext.prefix = { "${meta.id}_reheader" }
        ext.args2 = '--output-type z --write-index=tbi'
    }
}
