process {

    withName: 'ADD_FOUND_IN_TAG' {
        ext.args = '--no-version'
        ext.args2 = [
            '--output-type z',
            '--write-index=tbi',
            '--no-version'
        ].join(' ')
    }

    withName: 'CALL_SVS:SVDB_MERGE_BY_CALLER' {
        ext.prefix = { "${meta.sv_caller}_svdb_merge_by_caller" }
        ext.args = [
            '--bnd_distance 1000',
            '--overlap .5'
        ].join(' ')
        ext.args2 = [
            '--output-type z',
            '--write-index=tbi',
            '--no-version'
        ].join(' ')
    }

    withName: 'CALL_SVS:SVDB_MERGE_BY_FAMILY' {
        ext.prefix = { "${meta.id}_svdb_merge_by_family" }
        ext.args2 = [
            '--output-type z',
            '--write-index=tbi',
            '--no-version'
        ].join(' ')
    }

    withName: 'CLEAN_SNIFFLES' {
        ext.prefix = { "${meta.id}_clean_sniffles" }
    }

    withName: 'BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_${meta.sv_caller}_filtered" }
        ext.args = [
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
    }

    withName: 'BCFTOOLS_QUERY' {
        ext.args = '--list-samples'
    }

    withName: 'BCFTOOLS_SORT' {
        ext.args = [
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
    }

    withName: 'CREATE_SAMPLES_FILE' {
        ext.prefix = { "${meta.id}_samples_file" }
    }

    withName: 'BCFTOOLS_REHEADER' {
        ext.prefix = { "${meta.id}_reheader" }
        ext.args2 = '--output-type z --write-index=tbi --no-version'
    }

    withName: 'DEEPVARIANT_RUNDEEPVARIANT' {
        ext.args = '--model_type PACBIO'
    }

    withName: 'HIFICNV' {
        ext.prefix = { "${meta.id}_hificnv" }
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args = { [
            "-y",
            "-x map-hifi",
            "--secondary=no",
            "-Y",
            "-R @RG\\\\tID:${meta.id}\\\\tSM:${meta.id}",
            "--MD" // for Sniffles1
        ].join(' ') }
        ext.args3 = { [
            '-x HP,PS', // phasing
            '-x AS,CC,CG,CP,H1,H2,HI,H0,IH,MC,MD,MQ,NM,SA,TS',
            '--no-RG' // read group information
        ].join(' ') }
        ext.args4 = '-T \\*'
    }

    withName: 'SAWFISH_DISCOVER' {
        ext.prefix = { "${meta.id}_sawfish_discover" }
    }

    withName: 'SAWFISH_JOINTCALL' {
        ext.prefix = { "${meta.id}_sawfish_jointcall" }
    }

    withName: 'TABIX_HIFICNV' {
        ext.prefix = { "${meta.id}_tabix_hificnv" }
    }
}
