process {

    withName: 'CALL_SNVS:DEEPVARIANT_RUNDEEPVARIANT' {
        ext.prefix = { intervals ? "${meta.id}_${intervals}_deepvariant" : "${meta.id}_deepvariant" }
        ext.args   = {
            [
                '--model_type WGS',
                "--sample_name=${meta.id}",
                '-vcf_stats_report=False',
            ].join(' ')
        }
    }

    withName: 'CALL_SNVS:BEDTOOLS_INTERSECT' {
        ext.prefix = { intervals1 ? "${meta.id}_${intervals1}_${meta.ploidy}" : "${meta.id}" }
    }

    withName: 'CALL_SNVS:DNASCOPE_LONGREAD' {
        ext.prefix = { diploid_intervals_bed ? "${meta.id}_${diploid_intervals_bed}_sentieon" : "${meta.id}_sentieon" }
    }

    withName: 'CALL_SNVS:BCFTOOLS_PLUGINFIXPLOIDY' {
        ext.prefix = { meta.region ? "${meta.id}_${meta.region.name}_ploidyfix" : "${meta.id}_ploidyfix" }
        ext.args = [
            '--output-type z',
            '--write-index=tbi',
        ].join(' ')
        ext.args2 = '-f 2'
    }

}
