process {

    withName: 'CALL_SNVS:DEEPVARIANT_RUNDEEPVARIANT' {
        ext.prefix = { intervals ? "${meta.id}_${intervals}_deepvariant" : "${meta.id}_deepvariant" }
        ext.args   = {
            [
                '--model_type WGS',
                "--sample_name=${meta.id}",
                '-vcf_stats_report=False',
            ].join(' ')
        }
    }
}
