process {

    withName: '.*:ALIGN:MINIMAP2_INDEX|.*:ALIGN:MM2PLUS_INDEX' {
        ext.args = { "-x ${params.minimap2_read_mapping_preset}" }
    }

    // ext.prefix: Samtools will not sort supplementary reads properly. To snapshot the md5sum,
    // they must be input in the same order and can therefore not be named the same
    withName: '.*:ALIGN:MINIMAP2_ALIGN|.*:ALIGN:MM2PLUS_ALIGN' {
        ext.prefix = { "${reads}" }
        ext.args   = {
            [
                "-y",
                "-x ${params.minimap2_read_mapping_preset}",
                "--secondary=no",
                "-Y",
                "-R @RG\\\\tID:${meta.id}\\\\tSM:${meta.id}",
                "--MD",
            ].join(' ')
        }
        ext.args3  = {
            [
                '-x HP,PS',
                '-x AS,CC,CG,CP,H1,H2,HI,H0,IH,MC,MD,MQ,NM,SA,TS',
                '--no-RG',
            ].join(' ')
        }
        ext.args4  = '-T \\*'
    }

    withName: '.*:ALIGN:PBMM2_ALIGN' {
        ext.prefix = { "${meta.file}_aligned_reads_no_md" }
        ext.args   = {
            [
                "--sort",
                "--preset ${params.pbmm2_preset}",
                "--unmapped",
                "--sample ${meta.id}",
                "--strip",
                "--bam-index BAI",
            ].join(' ')
        }
    }
}
