/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Annotate methylation profiles
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    withName: '.*:ANNOTATE_METHYLATION:CSVTK_MUTATE2' {
        ext.prefix = { "${meta.id}_with_sample_id" }
        ext.args   = { "--after cpg_label --name sample_id --expression \"\'${meta.id}\'\"" }
    }

    withName: '.*:ANNOTATE_METHYLATION:CSVTK_CONCAT' {
        ext.prefix = { "${meta.id}_concat_per_family" }
    }

    withName: '.*:ANNOTATE_METHYLATION:CSVTK_SORT' {
        ext.prefix = { "${meta.id}_methbat_profile_annotated" }
        ext.args   = { "--keys sample_id:N --keys chrom:N --keys start:n" }
    }
}
