/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    //
    // SNVs
    //
    withName: '.*:ANN_CSQ_PLI_SNV:.*' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*ANN_CSQ_PLI_SNV:ADD_MOST_SEVERE_CSQ' {
        ext.prefix = { "${meta.id}_snv_csq" }
    }

    withName: '.*ANN_CSQ_PLI_SNV:ADD_MOST_SEVERE_PLI' {
        ext.prefix = { "${meta.id}_snv_csq_pli" }
    }

    withName: '.*ANN_CSQ_PLI_SNV:TABIX_BGZIPTABIX' {
        ext.prefix = { "${meta.id}_snv_csq_pli" }
    }

    //
    // SVs
    //
    withName: '.*:ANN_CSQ_PLI_SVS:.*' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*ANN_CSQ_PLI_SVS:ADD_MOST_SEVERE_CSQ' {
        ext.prefix = { "${meta.id}_svs_csq" }
    }

    withName: '.*ANN_CSQ_PLI_SVS:ADD_MOST_SEVERE_PLI' {
        ext.prefix = { "${meta.id}_svs_csq_pli" }
    }

    withName: '.*ANN_CSQ_PLI_SVS:TABIX_BGZIPTABIX' {
        ext.prefix = { "${meta.id}_svs_csq_pli" }
    }
}
