/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Annotate methylation profiles
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:ANNOTATE_METHYLATION_METHBAT:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: ".*:ANNOTATE_METHYLATION_METHBAT:CSVTK_MUTATE2" {
        ext.prefix = { "${meta.id}_with_sample_id" }
        ext.args = { "--after cpg_label --name sample_id --expression \"\'${meta.id}\'\"" }
    }

    withName: ".*:ANNOTATE_METHYLATION_METHBAT:CSVTK_CONCAT" {
        ext.prefix = { "${meta.id}_concat_per_family" }
    }

    withName: ".*:ANNOTATE_METHYLATION_METHBAT:CSVTK_SORT" {
        ext.prefix = { "${meta.id}_annotated" }
        ext.args = { "--keys sample_id:N --keys chrom:n --keys start:n" }
        publishDir = [
            path: { "${params.outdir}/methylation/profile/family/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }
}
