/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {
    withName: '.*ANNOTATE_RHOCALLVIZ.*' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*ANNOTATE_RHOCALLVIZ:BCFTOOLS_ROH' {
        ext.args = {
            [
                "--AF-tag ${params.bcftools_roh_af_tag}",
                "--skip-indels",
            ].join(' ')
        }
    }
    withName: '.*ANNOTATE_RHOCALLVIZ:BCFTOOLS_VIEW_UNCOMPRESS' {
        ext.args = { "--output-type v" }
    }
    withName: '.*ANNOTATE_RHOCALLVIZ:RHOCALL_VIZ' {
        // Chromograph has no prefix options, but derive the output filenames from the input file:
        // inputfile_chrXX.png, therefore we set the chromograph prefix here.
        ext.prefix = { "${meta.id}_chromograph_autozyg" }
        ext.args = {
            [
                '--no-filter',
                "--aftag ${params.rhocallviz_af_tag}",
                '--minqual 10',
                '--minaf 0.0001',
            ].join(' ')
        }
    }
    withName: '.*ANNOTATE_RHOCALLVIZ:CHROMOGRAPH_AUTOZYG' {
        ext.args = { "--euploid" }
        publishDir = [
            path: { "${params.outdir}/images/chromograph/sample/${meta.id}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
