/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SNV Annotation
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:ANNOTATE_SNVS:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:ANNOTATE_SNVS:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_filtered" }
        ext.args = { [
            '--output-type z',
            '--write-index=tbi',
            "${params.pre_vep_snv_filter_expression}"
        ].join(" ") }
    }

    withName: '.*:ANNOTATE_SNVS:ECHTVAR_ANNO' {
        ext.prefix = { "${meta.id}_echtvar_anno" }
    }

    withName: '.*:ANNOTATE_SNVS:ENSEMBLVEP_SNV' {
        ext.prefix = { "${meta.id}_vep" }
        ext.args = { [
            "${params.extra_vep_options}",
            '--dir_plugins .',
            '--plugin LoFtool,LoFtool_scores.txt',
            '--plugin pLI,pLI_values.txt',
            '--distance 5000',
            '--buffer_size 20000',
            '--format vcf --max_sv_size 999999999',
            '--appris --biotype --cache --canonical --ccds --compress_output bgzip',
            '--domains --exclude_predicted --force_overwrite',
            '--hgvs --humdiv --no_progress --numbers',
            '--polyphen p --protein --offline --regulatory --sift p --symbol --tsl',
            '--uniprot --vcf',
            '--no_stats'
        ].join(' ') }
    }

}
