/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Call SVs
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:CALL_SVS:VEP_PREP_SV' {
        ext.prefix = { "${meta.id}_vep_prep" }
    }

    withName: '.*:CALL_SVS:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_${meta.sv_caller}_filtered" }
        ext.args   = ['--output-type z', '--write-index=tbi'].join(' ')
    }

    withName: '.*:CALL_SVS:BCFTOOLS_SORT' {
        ext.args = ['--output-type z', '--write-index=tbi'].join(' ')
    }

    withName: '.*:CALL_SVS:HIFICNV' {
        ext.prefix = { "${meta.id}_hificnv" }
    }

    withName: '.*:CALL_SVS:SAWFISH_DISCOVER' {
        ext.prefix = { "${meta.id}_sawfish_discover" }
        ext.args   = {
            ["${params.extra_sawfish_options}", "--min-indel-size ${params.sawfish_min_sv_size}"].join(' ')
        }
    }

    withName: '.*:CALL_SVS:SAWFISH_JOINTCALL' {
        ext.prefix = { "${meta.id}_sawfish_sv" }
    }

    withName: '.*:CALL_SVS:SNIFFLES' {
        ext.prefix = { "${meta.id}_sniffles_for_reheader" }
        ext.args   = {
            ["--minsupport ${params.sniffles_min_support_reads}", "--min-alignment-length ${params.sniffles_min_segment_length}", "--minsvlen ${params.sniffles_min_sv_size}", "--minhetsupport ${params.sniffles_min_heterozygous_allele_frequency}"].join(' ')
        }
    }

    withName: '.*:CALL_SVS:TABIX_SEVERUS' {
        ext.prefix = { "${meta.id}_tabix_severus" }
    }

    withName: '.*:CALL_SVS:TABIX_HIFICNV' {
        ext.prefix = { "${meta.id}_tabix_hificnv" }
    }
}
