process {

    withName: '.*:CALL_REPEAT_EXPANSIONS_TRGT:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_TRGT:TRGT_GENOTYPE' {
        ext.args = { "--sample-name ${meta.id}" }
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_TRGT:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}_spanning_sorted" }
        publishDir = [
            path: { "${params.outdir}/repeats/sample/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_TRGT:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/repeats/sample/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_TRGT:BCFTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
        ext.args = [
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/repeats/sample/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_TRGT:TRGT_MERGE' {
        ext.prefix = { "${meta.id}_repeat_expansions" }
        ext.args = [
            '--output-type z',
            '--force-single'
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/repeats/family/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || !params.skip_repeat_annotation ? null : filename }
        ]
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_TRGT:BCFTOOLS_INDEX' {
        ext.prefix = { "${meta.id}_repeats" }
        ext.args = "--tbi"
        publishDir = [
            path: { "${params.outdir}/repeats/family/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || !params.skip_repeat_annotation ? null : filename }
        ]
    }
}
