process {

    withName: '.*:CALL_REPEAT_EXPANSIONS_STRDUST:STRDUST' {
        ext.args = '--sorted'
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_STRDUST:VCFEXPRESS' {
        ext.prefix = { "${meta.id}_strdust" }
        ext.suffix = { "vcf.gz" }
        ext.args = { "-s \'FOUND_IN=return \"STRdust\"\' -e \"return true\"" }
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_STRDUST:TABIX_TABIX' {
        ext.prefix = { "${meta.id}_strdust" }
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_STRDUST:BCFTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_repeat_expansions" }
        ext.args = [
            '--write-index=tbi',
            '--output-type z',
            '--force-single'
        ].join(' ')
    }
}
