/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Call SVs
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:CALL_SVS:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:CALL_SVS:ADD_FOUND_IN_TAG' {
        ext.prefix = { "${meta.id}_found_in" }
        ext.args = '--no-version'
        ext.args2 = [
            '--output-type b',
            '--write-index=csi',
            '--no-version'
        ].join(' ')
    }

    withName: '.*:CALL_SVS:BCFTOOLS_QUERY' {
        ext.args = '--list-samples'
    }

    withName: '.*:CALL_SVS:CREATE_SAMPLES_FILE' {
        ext.prefix = { "${meta.id}_samples_file" }
    }

    withName: '.*:CALL_SVS:SNIFFLES' {
        ext.prefix = { "${meta.id}_sniffles_for_reheader" }
        ext.args = [
            '--cluster',
            '--genotype',
            '--ignore_sd',
            '--report_str',
            '-s 3',
            '-r 500',
            '-l 50',
            '--min_het_af 0'
        ].join(' ')
    }

    withName: '.*:CALL_SVS:SVDB_MERGE' {
        ext.prefix = { "${meta.id}_${meta.sv_caller}_svs" }
        ext.args = [
            '--bnd_distance 1000',
            '--overlap .5'
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/svs/family/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (params.publish_unannotated_svs_and_cnvs_per_family_and_caller) {
                    return filename
                }
                if (filename.equals('versions.yml') || !params.skip_sv_annotation || !params.skip_cnv_calling) {
                    return null
                }
                return filename
            }
        ]
    }

    withName: '.*:CALL_SVS:TABIX_SVDB_MERGE' {
        publishDir = [
            path: { "${params.outdir}/svs/family/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (params.publish_unannotated_svs_per_family_and_caller) {
                    return filename
                }
                if (filename.equals('versions.yml') || !params.skip_sv_annotation || !params.skip_cnv_calling) {
                    return null
                }
                return filename
            }
        ]
    }

    withName: '.*:CALL_SVS:BCFTOOLS_REHEADER' {
        ext.prefix = { "${meta.id}_${meta.sv_caller}_svs" }
        ext.args2 = [
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/svs/sample/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
