/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Methylation
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:CALL_METHYLATION_METHBAT:.*' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*CALL_METHYLATION_METHBAT:PBCPGTOOLS_ALIGNEDBAMTOCPGSCORES' {
        ext.prefix = { "${meta.id}_pbcpgtools" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                filename.equals('versions.yml')
                    ? null
                    : filename.endsWith('.bw')
                        ? "visualization_tracks/${meta.id}/${filename}"
                        : "methylation/pileup/${meta.id}/${filename}"
            },
        ]
    }

    withName: '.*:CALL_METHYLATION_METHBAT:METHBAT_PROFILE' {
        ext.args = {
            [
                "${params.extra_methbat_profile_options}",
                meta.sex.equals(1) ? "--profile-label ${params.methbat_male_label}" : "--profile-label ${params.methbat_female_label}",
            ].join(" ")
        }
        ext.prefix = { "${meta.id}_methbat_profile" }
        publishDir = [
            path: { "${params.outdir}/methylation/profile/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
