process {

    withName: '.*:CALL_REPEAT_EXPANSIONS_STRDUST:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_STRDUST:STRDUST' {
        ext.prefix = { "${meta.id}_sorted" }
        ext.args = '--sorted'
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_STRDUST:ADD_FOUND_IN_TAG' {
        ext.args2 = [
            '--output-type z',
            '--write-index=tbi',
            '--no-version'
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/repeats/sample/${meta.id}"},
            mode: params.publish_dir_mode,
            saveAs : { filename -> filename.equals('versions.yml') || !params.skip_repeat_annotation ? null : filename }
        ]
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_STRDUST:BCFTOOLS_MERGE' {
    prefix = { "${meta.id}_repeat_expansions" }
        ext.args = [
            '--write-index=tbi',
            '--output-type z',
            '--no-version'
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/repeats/family/${meta.id}"},
            mode: params.publish_dir_mode,
            saveAs : { filename -> filename.equals('versions.yml') || !params.skip_repeat_annotation ? null : filename }
        ]
    }
}
