process {

    withName: '.*:CALL_REPEAT_EXPANSIONS_STRDUST:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_STRDUST:STRDUST' {
        ext.args = '--sorted'
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_STRDUST:VCFEXPRESS' {
        ext.prefix = { "${meta.id}_STRdust_found_in" }
        ext.args = { "-s \'FOUND_IN=return \"STRdust\"\' -e \"return true\"" }
        publishDir = [
            path: { "${params.outdir}/repeats/sample/${meta.id}"},
            mode: params.publish_dir_mode,
            saveAs : { filename -> filename.equals('versions.yml') || !params.skip_repeat_annotation ? null : filename }
        ]
    }

    withName: '.*:CALL_REPEAT_EXPANSIONS_STRDUST:BCFTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_repeat_expansions" }
        ext.args = [
            '--write-index=tbi',
            '--output-type z',
            '--force-single'
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/repeats/family/${meta.id}"},
            mode: params.publish_dir_mode,
            saveAs : { filename -> filename.equals('versions.yml') || !params.skip_repeat_annotation ? null : filename }
        ]
    }
}
