process {
    withName: 'NALLO:CHROMOGRAPH.*' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*CHROMOGRAPH:BCFTOOLS_ROH' {
        ext.args = {
            [
                "--AF-tag ${params.bcftools_roh_af_tag}",
                "--skip-indels",
            ].join(' ')
        }
    }
    withName: '.*CHROMOGRAPH:BCFTOOLS_VIEW_UNCOMPRESS' {
        ext.args = { "--output-type v" }
    }
    withName: '.*CHROMOGRAPH:RHOCALL_VIZ' {
        // Chromograph has no prefix options, but derive the output filenames from the input file:
        // inputfile_chrXX.png, therefore we set the chromograph prefix here.
        ext.prefix = { "${meta.id}_chromograph_autozyg" }
        ext.args = {
            [
                "--no-filter",
                "--aftag ${params.rhocallviz_af_tag}",
                "--minqual ${params.rhocallviz_min_qual}",
                "--minaf ${params.rhocallviz_min_af}",
            ].join(' ')
        }
    }
    withName: '.*CHROMOGRAPH:TIDDIT_COV' {
        // Chromograph has no prefix options, but derive the output filenames from the input file:
        // inputfile_chrXX.png, therefore we set the chromograph prefix here.
        ext.prefix = { "${meta.id}_chromograph_coverage" }
        ext.args = {
            [
                "-z ${params.tiddit_bin_size}",
                "-w",
            ].join(' ')
        }
    }
    withName: '.*CHROMOGRAPH:RUN_CHROMOGRAPH' {
        ext.args = '--euploid'
        publishDir = [
            path: { "${params.outdir}/images/chromograph/sample/${meta.id}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
