/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Filter variants
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:FILTER_VARIANTS_SNVS:.*|.*:FILTER_VARIANTS_SVS:.*' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:FILTER_VARIANTS_SNVS:ENSEMBLVEP_FILTERVEP' {
        ext.prefix = { "${meta.id}_filter_vep" }
        ext.args   = { "--filter \"HGNC_ID in ${feature_file}\"" }
    }

    withName: '.*:FILTER_VARIANTS_SVS:ENSEMBLVEP_FILTERVEP' {
        ext.prefix = { "${meta.id}_filter_vep" }
        ext.args   = { "--filter \"HGNC_ID in ${feature_file}\"" }
    }

    withName: '.*:FILTER_VARIANTS_SNVS:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_bcftools_view" }
        ext.args   = {
            [
                '--output-type z',
                '--write-index=tbi',
                "${params.filter_snvs_expression}",
            ].join(" ")
        }
    }

    withName: '.*:FILTER_VARIANTS_SVS:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_bcftools_view" }
        ext.args   = {
            [
                '--output-type z',
                '--write-index=tbi',
                "${params.filter_svs_expression}",
            ].join(" ")
        }
    }
}
