/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Assembly Workflow
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:GENOME_ASSEMBLY:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:GENOME_ASSEMBLY:HIFIASM' {
        ext.args = { [
            "${params.extra_hifiasm_options}",
            "${params.hifiasm_preset}",
            '--dual-scaf',
            '--telo-m CCCTAA'
        ].join(' ') }
    }

    withName: '.*:GENOME_ASSEMBLY:YAK_COUNT' {
        ext.args = '-k31 -b37'
        ext.prefix = { "${meta.id}_yak" }
    }

    withName: '.*:GENOME_ASSEMBLY:GFASTATS.*' {
        ext.args = '--discover-paths'
        ext.prefix = { "${meta.id}_haplotype_${meta.haplotype}" }

        publishDir = [
            path: { "${params.outdir}/assembly/stats/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.fasta.gz') ? null : filename }
        ]
    }
}
