/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:GVCF_GLNEXUS_NORM_VARIANTS:.*' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:GVCF_GLNEXUS_NORM_VARIANTS:ADD_FOUND_IN_TAG' {
        ext.prefix = { "${meta.id}_found_in" }
        ext.args   = '--no-version'
        ext.args2  = [
            '--output-type b',
            '--no-version',
        ].join(' ')
    }

    withName: '.*:GVCF_GLNEXUS_NORM_VARIANTS:GLNEXUS' {
        ext.args = '--config DeepVariant_unfiltered'
    }

    withName: '.*:GVCF_GLNEXUS_NORM_VARIANTS:BCFTOOLS_NORM_MULTISAMPLE' {
        ext.args = [
            '--multiallelics -both',
            '--rm-dup none',
            '--output-type z',
            '--write-index=tbi',
            '-w 10000',
        ].join(' ')
    }
}
