process {
    withName: '.*:HIPHASE:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:HIPHASE:RUN_HIPHASE' {
        ext.args = { (
            meta.sample_ids.collect { id -> "--sample-name ${id}"  }
        ).join(' ') }
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs : { filename ->
                (filename =~ 'ba[im]$' && params.alignment_output_format != 'cram')
                ? "aligned_reads/${meta.id}/${filename}"
                : null
            }
        ]
    }
}
