process {
    withName: '.*:HIPHASE:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:HIPHASE:RUN_HIPHASE' {
        ext.args = { (
            meta.sample_ids.collect { id -> "--sample-name ${id}"  }
        ).join(' ') }
        publishDir = [
            path: { "${params.outdir}/aligned_reads/" },
            mode: params.publish_dir_mode,
            saveAs : { filename ->
                // We must fix the filename of the haplotagged BAMs because HiPhase does not have access to sample information.
                // Output BAMS are just suffixed with _haplotagged, so we need to extract the sample ID and construct the path ourselves.
                if (filename =~ 'ba[im]$' && params.alignment_output_format != 'cram') {
                    // Assuming that the filename is always sample_aligned_haplotagged.bam, this will split into exactly two components
                    // The extra argument ensures that we get at most two components.
                    def components = filename.split('_aligned', 2)
                    def sample = components[0]
                    def suffix = components[1]
                    return "${sample}/${sample}${suffix}"
                }
                return null
            }
        ]
    }
}
