process {

    withName: '.*:LONGPHASE:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:LONGPHASE:BCFTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted"}
        ext.args = [
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
    }

    withName: '.*:LONGPHASE:BCFTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_phased_${meta.variant_type}" }
        ext.args = [
            '--force-single',
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/phased_variants/${meta.variant_type}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:LONGPHASE:LONGPHASE_PHASE' {
        ext.prefix = { "${meta.id}_longphase" }
        ext.args = [
            params.preset.equals('ONT_R10') ? "--ont" : "--pb",
            '--indels'
        ].join(' ')
    }

    withName: '.*:LONGPHASE:LONGPHASE_HAPLOTAG' {
        ext.prefix = { "${meta.id}_haplotagged" }
        publishDir = [
            path: { "${params.outdir}/aligned_reads/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || params.alignment_output_format == 'cram' ? null : filename }
        ]
    }

    withName: '.*:LONGPHASE:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/aligned_reads/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || params.alignment_output_format == 'cram' ? null : filename }
        ]
    }

}
