/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Merge SV VCFs
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:MERGE_SVS:SVDB_MERGE_BY_CALLER' {
        tag        = { "${meta.id}_${meta.sv_caller}" }
        ext.prefix = { "${meta.id}_${meta.sv_caller}_svs" }
        ext.args   = {
            [meta.sv_caller == 'hificnv' ? '--bnd_distance 10000' : '--bnd_distance 1000', meta.sv_caller == 'sawfish' && !params.force_sawfish_joint_call_single_samples ? '--no_intra' : '', '--overlap .5'].join(' ')
        }
        ext.args2  = ['--output-type z', '--write-index=tbi'].join(' ')
    }

    withName: '.*:MERGE_SVS:SVDB_MERGE_BY_FAMILY' {
        ext.prefix = { "${meta.id}_svdb_merge_by_family" }
        ext.args2  = ['--output-type z', '--write-index=tbi'].join(' ')
    }
}
