/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Methylation
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:METHYLATION:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:METHYLATION:MODKIT_PILEUP_UNPHASED' {
        ext.args = { [
            "${params.extra_modkit_options}",
            '--combine-mods',
            '--cpg',
            '--combine-strands',
        ].join(' ') }
        ext.prefix = { "${meta.id}_modkit_pileup" }
        publishDir = [
            path: { "${params.outdir}/methylation/modkit/pileup/unphased/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.log') ? filename : null }
        ]
    }

    withName: '.*:METHYLATION:MODKIT_PILEUP_PHASED' {
        ext.args = { [
            "${params.extra_modkit_options}",
            '--combine-mods',
            '--cpg',
            '--combine-strands',
            '--partition-tag HP'
        ].join(' ') }
        ext.prefix = { "${meta.id}_modkit_pileup_phased" }
        publishDir = [
            path: { "${params.outdir}/methylation/modkit/pileup/phased/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.log') ? filename : null }
        ]

    }

    withName: '.*:METHYLATION:BGZIP_MODKIT_PILEUP_UNPHASED' {
        ext.prefix = { "${input.simpleName}" }
        publishDir = [
            path: { "${params.outdir}/methylation/modkit/pileup/unphased/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:METHYLATION:BGZIP_MODKIT_PILEUP_PHASED' {
        ext.prefix = { "${input.simpleName}" }
        publishDir = [
            path: { "${params.outdir}/methylation/modkit/pileup/phased/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
