/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Phasing
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: BCFTOOLS_REHEADER {
        publishDir = [
            path: { "${params.outdir}/phasing/bcftools_reheader/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: HIPHASE_SNV {
        // NOTE: Do not use phased variant calls for analysis
        ext.args = "--ignore-read-groups"

        publishDir = [
            path: { "${params.outdir}/phasing/hiphase/snv/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HIPHASE_SV {
        // NOTE: Do not use phased variant calls for analysis
        ext.args = "--ignore-read-groups --global-realignment-cputime 300"

        publishDir = [
            path: { "${params.outdir}/phasing/hiphase/sv/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: WHATSHAP_PHASE {
        // NOTE: Do not use phased variant calls for analysis
        ext.args = '--ignore-read-groups --indels --distrust-genotypes'

        publishDir = [
            path: { "${params.outdir}/phasing/whatshap/phase/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: WHATSHAP_STATS {
        publishDir = [
            path: { "${params.outdir}/phasing/whatshap/stats/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: WHATSHAP_HAPLOTAG {
        // TODO: Should supplementary be tagged?
        ext.args = '--ignore-read-groups --tag-supplementary'

        publishDir = [
            path: { "${params.outdir}/phasing/whatshap/haplotag/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SAMTOOLS_INDEX_WHATSHAP {
        publishDir = [
            path: { "${params.outdir}/phasing/whatshap/haplotag/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
