/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Process in main workflow
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    withName: '.*:PORTELLO_ASSEMBLY:PBMM2_ALIGN' {
        ext.prefix = { "${meta.id}_aligned_to_assembly" }
        ext.args = {
            [
                "--sort",
                "--preset HIFI",
                "--unmapped",
            ].join(' ')
        }
        ext.args2 = {
            [
                '-x HP,PS',
                '-x AS,CC,CG,CP,H1,H2,HI,H0,IH,MC,MD,MQ,NM,SA,TS',
                '--no-RG',
            ].join(' ')
        }
        ext.args3 = '-T \\*'
    }

    withName: '.*:PORTELLO_ASSEMBLY:SAMTOOLS_INDEX_PBMM2' {
        ext.prefix = { "${meta.id}_aligned_to_assembly" }
    }

    withName: '.*:PORTELLO_ASSEMBLY:PORTELLO' {
        ext.prefix = { "${meta.id}_remapped_assembly_no_tag" }
    }


    withName: '.*:PORTELLO_ASSEMBLY:SAMTOOLS_MERGE' {
        ext.args   = '--write-index'
        ext.prefix = { "${meta.id}_aligned" }
    }

    withName: '.*:PORTELLO_ASSEMBLY:SAMTOOLS_CONVERT' {
        ext.prefix = { "${meta.id}_aligned" }
        ext.args   = '--write-index'
    }

    withName: '.*:PORTELLO_ASSEMBLY:SAMTOOLS_SORT_PORTELLO' {
        ext.prefix = { "${meta.id}_remapped_assembly_sorted" }
    }

    withName: '.*:PORTELLO_ASSEMBLY:SAMTOOLS_ADDREPLACERG' {
        ext.prefix = { "${meta.id}_remapped_assembly_rg" }
    }

    withName: '.*:PORTELLO_ASSEMBLY:SAMTOOLS_CALMD' {
        ext.prefix = { "${meta.id}_remapped_assembly_md" }
        ext.args = '-b '
    }

    withName: '.*:PORTELLO_ASSEMBLY:GATK4_CLEANSAM' {
        ext.prefix = { "${meta.id}_remapped_assembly" }
        publishDir = [
            path: { "${params.outdir}/assembly/sample/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*:PORTELLO_ASSEMBLY:SAMTOOLS_INDEX_CLEANSAM' {
        ext.prefix = { "${meta.id}_remapped_assembly" }
        publishDir = [
            path: { "${params.outdir}/assembly/sample/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
