process {

    withName: '.*:PREPARE_GENS_INPUTS:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*PREPARE_GENS_INPUTS:MOSDEPTH' {
        ext.args = {
            [
                '-n',
                '--fast-mode',
                '--by 100',
            ].join(' ')
        }
    }

    withName: '.*PREPARE_GENS_INPUTS:BCFTOOLS_CONCAT' {
        ext.args = {
            [
                '--allow-overlaps',
                '--output-type z',
                '--write-index=tbi',
            ].join(' ')
        }
    }

    withName: '.*PREPARE_GENS_INPUT:SAMTOOLS_VIEW' {
        ext.args = '-H --output-fmt sam'
        ext.prefix = { "${meta.id}.mosdepth_gatk_header" }
    }

    withName: '.*PREPARE_GENS_INPUT:GAWK' {
        ext.args = { "-v sample=${meta.id}"}
        ext.args2 = '\'{ print } END { print "@RG\\tID:GATKCopyNumber\\tSM:" sample; print "CONTIG\\tSTART\\tEND\\tCOUNT" }\''
        ext.prefix = { "${meta.id}" }
        ext.suffix = 'mosdepth_gatk_header.tsv'
    }

    withName: '.*PREPARE_GENS_INPUTS:GENERATE_GENS_DATA' {
        publishDir = [
            path: { "${params.outdir}/gens/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
