process {

    withName: '.*:PREPARE_GENS_INPUTS:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*PREPARE_GENS_INPUTS:SAMTOOLS_VIEW' {
        ext.args = '-H --output-fmt sam'
        ext.prefix = { "${meta.id}.mosdepth_gatk_header" }
    }

    withName: '.*PREPARE_GENS_INPUTS:MOSDEPTH_GATK_HEADER' {
        ext.args = { "-v sample=${meta.id}" }
        ext.args2 = '\'{ print } END { print "@RG\\tID:GATKCopyNumber\\tSM:" sample; print "CONTIG\\tSTART\\tEND\\tCOUNT" }\''
        ext.prefix = { "${meta.id}" }
        ext.suffix = 'mosdepth_gatk_header.tsv'
    }

    withName: '.*PREPARE_GENS_INPUTS:MOSDEPTH' {
        ext.args = {
            [
                '--no-per-base',
                '--fast-mode',
            ].join(' ')
        }
    }

    withName: '.*PREPARE_GENS_INPUTS:MOSDEPTH_GATK_FORMAT' {
        ext.prefix = { "${meta.id}.gatk_formatted" }
        ext.suffix = "gatk_format.tsv"
        ext.args = { "-v sample=${meta.id}"}
        ext.args2 = '\'BEGIN { OFS="\\t" } { $4 = int($4 + 0.5); $2++; print $1, $2, $3, $4 }\''
    }

    withName: '.*PREPARE_GENS_INPUTS:CAT_CAT' {
        ext.prefix = { "${meta.id}.concat" }
    }

    withName: '.*PREPARE_GENS_INPUTS:PREPARECOVANDBAF' {
        publishDir = [
            path: { "${params.outdir}/gens/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
