/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    //
    // Score and rank SNVs
    //
    withName: '.*:RANK_VARIANTS_SNV:.*' {
        publishDir = [
            enabled: false,
        ]
    }
    withName: '.*:RANK_VARIANTS_SNV:GENMOD_ANNOTATE' {
        ext.prefix = { "${meta.id}_snv_genmod_annotate" }
        ext.args = { [
            '--annotate_regions',
            '--genome-build 38',
            '--temp_dir ./'
            ].join(' ') }
    }
    withName: '.*:RANK_VARIANTS_SNV:GENMOD_MODELS' {
        ext.prefix = { "${meta.id}_snv_genmod_models" }
        ext.args = "--whole_gene --temp_dir ./"
    }
    withName: '.*:RANK_VARIANTS_SNV:GENMOD_SCORE' {
        ext.prefix = { "${meta.id}_snv_genmod_score" }
        ext.args = "--rank_results"
    }
    withName: '.*:RANK_VARIANTS_SNV:GENMOD_COMPOUND' {
        ext.prefix = { "${meta.id}_snv_genmod_compound" }
        ext.args = "--temp_dir ./"
    }
    withName: '.*:RANK_VARIANTS_SNV:BCFTOOLS_SORT' {
        ext.prefix = { "${meta.id}_snv_genmod_compound_sorted" }
        ext.args = [
            '--output-type z',
            '--write-index=tbi',
            '--max-mem 6G'
        ].join(' ')
    }

    //
    // Score and rank SVSs
    //
    withName: '.*:RANK_VARIANTS_SVS:.*' {
        publishDir = [
            enabled: false,
        ]
    }
    withName: '.*:RANK_VARIANTS_SVS:GENMOD_ANNOTATE' {
        ext.prefix = { "${meta.id}_svs_genmod_annotate" }
        ext.args = { [
            '--annotate_regions',
            '--genome-build 38',
            '--temp_dir ./'
            ].join(' ') }
    }
    withName: '.*:RANK_VARIANTS_SVS:GENMOD_MODELS' {
        ext.prefix = { "${meta.id}_svs_genmod_models" }
        ext.args = '--whole_gene --temp_dir ./'
    }
    withName: '.*:RANK_VARIANTS_SVS:GENMOD_SCORE' {
        ext.prefix = { "${meta.id}_svs_genmod_score" }
        ext.args = "--rank_results"
    }
    withName: '.*:RANK_VARIANTS_SVS:GENMOD_COMPOUND' {
        ext.prefix = { "${meta.id}_svs_genmod_compound" }
        ext.args = "--temp_dir ./"
    }
    withName: '.*:RANK_VARIANTS_SVS:BCFTOOLS_SORT' {
        ext.prefix = { params.skip_cnv_calling ? "${meta.id}_svs_merged_annotated_ranked" : "${meta.id}_svs_cnvs_merged_annotated_ranked" }
        ext.args = [
            '--output-type z',
            '--write-index=tbi',
            '--max-mem 6G'
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/svs/family/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
