/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Reheader SV VCF
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:REHEADER_SV_VCF:BCFTOOLS_QUERY' {
        ext.args = '--list-samples'
    }

    withName: '.*:REHEADER_SV_VCF:BCFTOOLS_REHEADER' {
        ext.prefix = { "${meta.id}_${meta.sv_caller}_reheader" }
        ext.args2  = ['--output-type z', '--write-index=tbi'].join(' ')
    }

    withName: '.*:REHEADER_SV_VCF:CREATE_SAMPLES_FILE' {
        ext.prefix = { "${meta.id}_samples_file" }
        ext.suffix = 'txt'
        ext.args2  = { "'{print \$1,\"${meta.id}\"}'" }
    }
}
