/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Tandem repeats
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:REPEAT_ANALYSIS:TRGT' {
        publishDir = [
            path: { "${params.outdir}/tandem_repeat_calling/trgt/raw/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:REPEAT_ANALYSIS:SAMTOOLS_SORT_TRGT' {
        publishDir = [
            path: { "${params.outdir}/tandem_repeat_calling/trgt/processed/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:REPEAT_ANALYSIS:SAMTOOLS_INDEX_TRGT' {

        publishDir = [
            path: { "${params.outdir}/tandem_repeat_calling/trgt/processed/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:REPEAT_ANALYSIS:BCFTOOLS_SORT_TRGT' {
        ext.args = "--output-type b"
        publishDir = [
            path: { "${params.outdir}/tandem_repeat_calling/trgt/processed/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:REPEAT_ANALYSIS:BCFTOOLS_INDEX_TRGT' {
        publishDir = [
            path: { "${params.outdir}/tandem_repeat_calling/trgt/processed/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:REPEAT_ANALYSIS:BCFTOOLS_MERGE' {

        ext.args = '--output-type b'

        publishDir = [
            path: { "${params.outdir}/tandem_repeat_calling/trgt/merged_calls/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
