process {
    withName: '.*:RUN_HIPHASE:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:RUN_HIPHASE:HIPHASE' {
        ext.args = { (
            meta.sample_ids.collect { id -> "--sample-name ${id}"  }
        ).join(' ') }
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs : { filename ->
                if (filename == 'versions.yml') {
                    return null
                }
                if (filename.endsWith('bam') || filename.endsWith('bai')) {
                    if (params.alignment_output_format == 'cram') {
                        return null
                    } else {
                        return "aligned_reads/${meta.id}/${filename}"
                    }
                }

                return "phased_variants/${meta.id}/${filename}"
            }
        ]
    }
}
