/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:SCATTER_GENOME:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:SCATTER_GENOME:BEDTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: '.*:SCATTER_GENOME:BEDTOOLS_MAKEWINDOWS' {
        ext.prefix = { "${meta.id}_makewindows" }
        ext.args = '-w 1000000'
    }

    withName: '.*:SCATTER_GENOME:BEDTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_merged" }
    }

}
