/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Short variant calling
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:SHORT_VARIANT_CALLING:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:SHORT_VARIANT_CALLING:ADD_FOUND_IN_TAG' {
        ext.prefix = { "${meta.id}_found_in" }
        ext.args = '--no-version'
        ext.args2 = [
            '--output-type b',
            '--no-version'
        ].join(' ')
    }


    withName: '.*:SHORT_VARIANT_CALLING:DEEPVARIANT' {
        ext.prefix = { intervals ? "${meta.id}_${intervals}_deepvariant" : "${meta.id}_deepvariant" }
        ext.args = { [
            "--sample_name=${meta.id}",
            "--model_type=${params.deepvariant_model_type}",
            '-vcf_stats_report=False',
            meta.sex == 1 ? '--haploid_contigs="chrX,chrY"' : ''
        ].join(' ') }
    }
    withName: '.*:SHORT_VARIANT_CALLING:DEEPVARIANT_VCFSTATSREPORT' {
        publishDir = [
            path: { "${params.outdir}/qc/deepvariant_vcfstatsreport/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: '.*:SHORT_VARIANT_CALLING:GLNEXUS' {
        ext.args = '--config DeepVariant_unfiltered'
    }

    withName: '.*:SHORT_VARIANT_CALLING:BCFTOOLS_CONCAT' {
        ext.args = '--allow-overlaps'
    }

    withName: '.*:SHORT_VARIANT_CALLING:BCFTOOLS_NORM_SINGLESAMPLE' {
        ext.prefix = { "${meta.id}_deepvariant_snv" }
        ext.args = [
            '-m -',
            '-w 10000',
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
    }

    withName: '.*:SHORT_VARIANT_CALLING:BCFTOOLS_FILLTAGS' {
        ext.prefix = { "${meta.id}_ac" }
        ext.args = '--output-type u'
    }

    withName: '.*:SHORT_VARIANT_CALLING:BCFTOOLS_NORM_MULTISAMPLE' {
        ext.args = [
            '-m -',
            '--output-type u',
            '--write-index=csi',
            '-w 10000'
        ].join(' ')
    }

}
