process {
    withName: '.*:SPLIT_MULTISAMPLE_VCF:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:SPLIT_MULTISAMPLE_VCF:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}.${meta.variant_type}" }
        ext.args = { [
            '--output-type z',
            "--samples ${meta.id}"
        ].join(' ') }
    }
}
