process {
    withName: 'MINIMAP2_ALIGN' {
        ext.args = {
            [   "-y",
                "-x map-hifi",
                "--secondary=no",
                "-Y",
                "-R @RG\\\\tID:${meta.id}\\\\tSM:${meta.id}",
                "--MD",
            ].join(' ')
        }
        ext.args3 = {
            [
                '-x HP,PS',
                '-x AS,CC,CG,CP,H1,H2,HI,H0,IH,MC,MD,MQ,NM,SA,TS',
                '--no-RG',
            ].join(' ')
        }
        ext.args4 = '-T \\*'
    }

    withName: 'BAM_INFER_SEX:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: 'BAM_INFER_SEX:SOMALIER_EXTRACT' {
        beforeScript = { "export SOMALIER_SAMPLE_NAME=\"${meta.id}\"" }
    }

    withName: 'BAM_INFER_SEX:RELATE_RELATE' {
        ext.args = '--infer'
    }

    withName: 'BAM_INFER_SEX:RELATE_INFER' {
        ext.args = '--infer'
    }

}
