process {
    withName: 'BEDTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_merged" }
    }
    withName: 'BEDTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
    }
    withName: 'BEDTOOLS_SPLIT' {
        ext.prefix = { "${meta.id}_chunk" }
        ext.args   = '-a size'
    }
    withName: 'GAWK' {
        ext.args2  = '-v FS=\'\\t\' -v OFS=\'\\t\' \'{ print $1, "0", $2 }\''
        ext.suffix = 'bed'
    }
    withName: 'GAWK_EXTRACT_REGIONS' {
    ext.prefix = { "${meta.id}_${meta.genome}" }
    ext.args2  = { meta.genome == "mitochondrial" ? '\'\$1 == "chrM" || \$1 == "MT" || \$1 == "chrMT"\'' : '\'\$1 != "chrM" && \$1 != "MT" && \$1 != "chrMT"\'' }
    }
}
