process {
    withName: 'CALL_METHYLATION_MODKIT:GAWK' {
        ext.args2  = "'{print \$1\"\\t\"\$2\"\\t\"\$3}'"
        ext.suffix = 'bed'
        ext.prefix = { "${meta.id}_modkit_regions" }
    }
    withName: 'CALL_METHYLATION_MODKIT:MODKIT_PILEUP' {
        ext.args   = {
            [
                '--cpg',
                '--combine-strands',
                !params.skip_phasing ? '--phased' : '',
                "--modified-bases ${params.modkit_modified_bases}",
            ].join(' ')
        }
        ext.prefix = { "${meta.id}_modkit_pileup" }
    }

    withName: 'CALL_METHYLATION_MODKIT:TABIX_BGZIPTABIX' {
        ext.prefix = { "${input.simpleName}" }
    }

    withName: 'PHASING:LONGPHASE:BCFTOOLS_INDEX' {
        ext.args = '--tbi'
    }

    withName: 'PHASING:LONGPHASE:BCFTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_phased_${meta.variant_type}" }
        ext.args   = ['--output-type z', '--write-index=tbi', '--no-version', '--force-single'].join(' ')
    }

    withName: 'PHASING:LONGPHASE:LONGPHASE_PHASE' {
        ext.prefix = { "${meta.id}_phased" }
        ext.args   = ['--pb', '--indels'].join(' ')
    }

    withName: 'PHASING:LONGPHASE:LONGPHASE_HAPLOTAG' {
        ext.prefix = { "${meta.id}_haplotagged" }
    }

    withName: 'PHASING:LONGPHASE:SPLIT_MULTISAMPLE_VCF:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}.${meta.variant_type}" }
        ext.args   = {
            ['--output-type z', '--no-version', "--samples ${meta.id}"].join(' ')
        }
    }

    withName: 'CALL_METHYLATION_MODKIT:MODKIT_BEDMETHYLTOBIGWIG' {
        ext.prefix = { "${bedmethyl.simpleName}" }
    }
}
