process {

    withName: 'PORTELLO:RUN_PORTELLO' {
        ext.prefix = { "${meta.id}_remapped_assembly_no_tag" }
    }

    withName: 'PORTELLO:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}_remapped_assembly_sorted" }
    }

    withName: 'PORTELLO:SAMTOOLS_ADDREPLACERG' {
        ext.prefix = { "${meta.id}_remapped_assembly_rg" }
    }

    withName: 'PORTELLO:SAMTOOLS_CALMD' {
        ext.prefix = { "${meta.id}_remapped_assembly_md" }
        ext.args   = '-b '
    }

    withName: 'PORTELLO:GATK4_CLEANSAM' {
        ext.prefix = { "${meta.id}_remapped_assembly" }
    }

    withName: 'PORTELLO:SAMTOOLS_INDEX' {
        ext.prefix = { "${meta.id}_remapped_assembly" }
    }
}
