process {
    withName: 'BCFTOOLS_MERGE' {
        ext.args = '--output-type z --no-version'
    }

    withName: 'SPLIT_MULTISAMPLE_VCF:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}.${meta.variant_type}" }
        ext.args = {[
            '--output-type z',
            '--no-version',
            "--samples ${meta.id}"
        ].join(' ') }
    }
}
