process {

    withName: 'WHATSHAP:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: 'WHATSHAP:WHATSHAP_PHASE' {
        ext.prefix = { "${meta.id}_phased" }
        ext.args = [
            '--indels',
            '--use-supplementary'
        ].join(' ')
    }

    withName: 'WHATSHAP:WHATSHAP_HAPLOTAG' {
        ext.prefix = { "${meta.id}_haplotagged" }
        ext.args = [
            '--tag-supplementary'
        ].join(' ')
    }

    withName: 'BCFTOOLS_MERGE' {
        ext.args = '--output-type z'
    }
}
