params {
    // Base directory for nf-core/modules test data
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

    // Base directory for nf-core/fetchngs test data
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/genomic-medicine-sweden/test-datasets/nallo/'
}

// Impose sensible resource limits for testing
process {
    withName: '.*' {
        cpus   = 4
        memory = 15.GB
        time   = 6.h
    }

    withName: '.*:NALLO:ASSEMBLY:HIFIASM' {

        ext.args = '-f0'
    }

    withName: '.*:CALL_PARALOGS:PARAPHASE' {

        ext.args = '--gene hba'
    }

    withName: '.*:NALLO:PHASING:WHATSHAP_PHASE' {

        ext.args = '--ignore-read-groups --indels --distrust-genotypes --include-homozygous'
    }

}

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=23.04.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }
