params {
    // Base directory for nf-core/modules test data
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

    // Base directory for genomic-medicine-sweden/nallo test data
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/genomic-medicine-sweden/test-datasets/'

    max_cpus   = 4
    max_memory = '15.GB'
    max_time   = '6.h'

}

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=23.04.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }

process {

    withLabel: 'process_high' {
        cpus = 4
    }

    withLabel: 'process_medium' {
        cpus = 2
    }

    withLabel: 'process_low' {
        cpus = 1
    }

    withLabel: 'process_single' {
        cpus = 1
    }

    withName: '.*:NALLO:ASSEMBLY:HIFIASM' {

        ext.args = '-f0'
    }

    withName: '.*:CALL_PARALOGS:PARAPHASE' {

        ext.args = '--gene hba'
    }

    withName: '.*:NALLO:PHASING:WHATSHAP_PHASE' {

        ext.args = '--ignore-read-groups --indels --distrust-genotypes --include-homozygous'
    }

    withName: '.*:NALLO:SNV_ANNOTATION:ENSEMBLVEP_VEP' {
        ext.prefix = { "${meta.id}_vep" }
        ext.args = { [
            "--dir_plugins .",
            "--plugin LoFtool,LoFtool_scores.txt",
            "--plugin pLI,pLI_values.txt",
            "--plugin SpliceAI,snv=spliceai_21_scores_raw_snv_-v1.3-.vcf.gz,indel=spliceai_21_scores_raw_snv_-v1.3-.vcf.gz",
            '--distance 5000',
            '--buffer_size 20000',
            '--format vcf --max_sv_size 248387328',
            '--appris --biotype --cache --canonical --ccds --compress_output bgzip',
            '--domains --exclude_predicted --force_overwrite',
            '--hgvs --humdiv --no_progress --numbers',
            '--polyphen p --protein --offline --regulatory --sift p --symbol --tsl',
            '--uniprot --vcf',
            '--no_stats'
        ].join(' ') }
    }

}
