params {
    // Base directory for nf-core/modules test data
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

    // Base directory for genomic-medicine-sweden/nallo test data
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/genomic-medicine-sweden/test-datasets/'

    max_cpus   = 4
    max_memory = '15.GB'
    max_time   = '6.h'

}

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=23.04.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }

process {

    withLabel: 'process_high' {
        cpus = 4
    }

    withLabel: 'process_medium' {
        cpus = 2
    }

    withLabel: 'process_low' {
        cpus = 1
    }

    withLabel: 'process_single' {
        cpus = 1
    }

    withName: '.*:NALLO:ASSEMBLY:HIFIASM' {

        ext.args = '-f0'
    }

    withName: '.*:CALL_PARALOGS:PARAPHASE' {

        ext.args = '--gene hba'
    }

    withName: '.*:NALLO:PHASING:WHATSHAP_PHASE' {

        ext.args = '--ignore-read-groups --indels --distrust-genotypes --include-homozygous'
    }

}
