process {
    withName: 'CALL_SNVS:DEEPVARIANT_RUNDEEPVARIANT' {
        ext.prefix = { intervals ? "${meta.id}_${intervals}_deepvariant" : "${meta.id}_deepvariant" }
        ext.args = { [
            '--model_type PACBIO',
            "--sample_name=${meta.id}",
            '-vcf_stats_report=False'
        ].join(' ') }
    }

    withName: 'CALL_SNVS:GLNEXUS' {
        ext.args = '--config DeepVariant_unfiltered'
    }

    withName: 'CALL_SNVS:BCFTOOLS_CONCAT' {
        ext.prefix = { "${meta.id}_concat" }
        ext.args = [
            '--no-version',
            '--allow-overlaps'
        ].join(' ')
    }

    withName: 'CALL_SNVS:BCFTOOLS_NORM_MULTISAMPLE' {
        ext.prefix = { "${meta.id}_norm_multisample" }
        ext.args = [
            '--no-version',
            '-m -',
            '--output-type u',
            '--write-index=csi',
            '-w 10000'
        ].join(' ')
    }

    withName: 'CALL_SNVS:BCFTOOLS_NORM_SINGLESAMPLE' {
        ext.prefix = { "${meta.id}_norm_singlesample" }
        ext.args = [
            '--no-version',
            '-m -',
            '-w 10000',
            '--output-type u',
        ].join(' ')
    }

    withName: 'CALL_SNVS:BCFTOOLS_FILLTAGS' {
        ext.prefix = { "${meta.id}_ac" }
        ext.args = [
            '--no-version',
            '--output-type u'
        ].join(' ')
    }

    withName: 'SNV_ANNOTATION:BCFTOOLS_FILLTAGS_ANNO' {
        ext.prefix = { "${meta.id}_filltags_anno" }
        ext.args = [
            '--no-version',
            '--output-type z'
        ].join(' ')
    }

    withName: 'UNTAR' {
        ext.prefix = { "${name}".contains('merged') ? './vep_cache/homo_sapiens_merged/' : './vep_cache/homo_sapiens/' }
    }

    withName: 'SNV_ANNOTATION:ENSEMBLVEP_SNV' {
        ext.args = { [
            '--offline',
            '--vcf',
            '--compress_output bgzip'
        ].join(' ') }
    }

    withName: 'FILTER_VARIANTS:ENSEMBLVEP_FILTERVEP' {
        ext.args   = { "--filter \"HGNC_ID in ${feature_file}\"" }
    }

    withName: 'FILTER_VARIANTS:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_filtered" }
        ext.args = '-e "INFO/AQ>60" --no-version --output-type z --write-index=tbi'
    }
}
