process {

    withName: 'UNTAR' {
        ext.prefix = { "${name}".contains('merged') ? './vep_cache/homo_sapiens_merged/' : './vep_cache/homo_sapiens/' }
    }

    withName: 'ANNOTATE_SNVS:ENSEMBLVEP_SNV' {
        ext.args = { [
            '--offline',
            '--vcf',
            '--compress_output bgzip'
        ].join(' ') }
    }

    withName: 'FILTER_VARIANTS:ENSEMBLVEP_FILTERVEP' {
        ext.args   = { "--filter \"HGNC_ID in ${feature_file}\"" }
    }

    withName: 'FILTER_VARIANTS:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_filtered" }
        ext.args = '-e "INFO/AQ>60" --no-version --output-type z --write-index=tbi'
    }
}
