process {

    withName: 'VCFEXPRESS' {
        ext.prefix = { "${meta.id}_${meta.sv_caller}_found_in" }
        ext.suffix = { "bcf.gz" }
        ext.args = { "-s \'FOUND_IN=return \"${meta.sv_caller}\"\' -e \"return true\"" }
    }

    withName: GLNEXUS {
        ext.args = '--config DeepVariant_unfiltered'
    }

    withName: BCFTOOLS_NORM_MULTISAMPLE {
        ext.args = [
            '--multiallelics -both',
            '--rm-dup none',
            '--output-type z',
            '--write-index=tbi',
            '-w 10000',
            '--no-version',
        ].join(' ')
    }

    withName: BCFTOOLS_PLUGINFIXPLOIDY {
        ext.prefix = {  "${meta.id}_ploidyfix" }
        ext.args = [
            '--output-type z',
            '--write-index=tbi',
        ].join(' ')
        ext.args2 = '--force-ploidy 2'
    }

}
