process {

    withName: ADD_FOUND_IN_TAG {
        ext.prefix = { "${meta.id}_found_in" }
        ext.args   = '--no-version'
        ext.args2  = [
            '--output-type b',
            '--no-version',
        ].join(' ')
    }

    withName: GLNEXUS {
        ext.args = '--config DeepVariant_unfiltered'
    }

    withName: BCFTOOLS_NORM_MULTISAMPLE {
        ext.args = [
            '--multiallelics -both',
            '--rm-dup none',
            '--output-type z',
            '--write-index=tbi',
            '-w 10000',
        ].join(' ')
    }
}
