process {
    withName: 'CALL_REPEAT_EXPANSIONS:TRGT_MERGE' {
        ext.args = '--output-type z --force-single --no-version'
    }
    withName: 'CALL_REPEAT_EXPANSIONS:BCFTOOLS_SORT_TRGT' {
        ext.prefix = { "${meta.id}_sorted" }
        ext.args = '--output-type z --write-index=tbi'
    }
    withName: 'CALL_REPEAT_EXPANSIONS:TRGT' {
        ext.args = { "--sample-name ${meta.id}" }
    }
    withName: 'CALL_REPEAT_EXPANSIONS:BCFTOOLS_INDEX' {
        ext.args = "--tbi"
    }
}
