process {

    withName: 'REHEADER_SV_VCF:BCFTOOLS_QUERY' {
        ext.args = '--list-samples'
    }

    withName: 'REHEADER_SV_VCF:BCFTOOLS_REHEADER' {
        ext.prefix = { "${meta.id}_${meta.sv_caller}_reheader" }
        ext.args2  = ['--output-type z', '--write-index=tbi'].join(' ')
    }

    withName: 'REHEADER_SV_VCF:CREATE_SAMPLES_FILE' {
        ext.prefix = { "${meta.id}_samples_file" }
        ext.suffix = 'txt'
        ext.args2  = { "'{print \$1,\"${meta.id}\"}'" }
    }
}
