includeConfig '../../call_repeat_expansions_trgt/tests/nextflow.config'

process {
    withName: 'STRDROP_CALL' {
        ext.args = { meta.xy_samples
            .collect { id -> "--xy ${id}" }
            .join(' ')
        }
        ext.prefix = { "${meta.id}_strdrop_call" }
    }
    withName: 'STRANGER' {
        ext.prefix = { "${meta.id}_stranger" }
        ext.args   = { [
            '--trgt',
            "--family_id ${meta.id}"
        ].join(' ') }
    }
}
