process {
    withName: 'QC_PHASING:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: 'BCFTOOLS_MERGE' {
        ext.args = '--output-type z'
    }

    withName: 'QC_PHASING:BCFTOOLS_CONCAT' {
        ext.args = [
            '--output-type z',
            '--write-index=tbi',
            '--allow-overlaps'
        ].join(' ')
    }

    withName: 'QC_PHASING:WHATSHAP_STATS' {
        ext.prefix = { "${meta.id}_stats" }
        ext.args = { "--sample ${meta.id}" }
    }

    withName: 'QC_PHASING:CRAMINO' {
        ext.args = [
            '--karyotype',
            '--phased'
        ].join(' ')
        ext.prefix = { "${meta.id}_cramino_aligned_phased" }
    }

}

includeConfig '../../../../subworkflows/local/longphase/tests/nextflow.config'
