process {
    withName: 'MINIMAP2_ALIGN' {
        ext.args = '-x map-hifi'
    }
    withName: 'DEEPVARIANT' {
        ext.args = '--model_type PACBIO'
    }
    withName: 'CALL_CNVS:HIFICNV' {
        ext.prefix = 'hificnv'
    }
    withName: 'CALL_CNVS:SVDB_MERGE' {
        ext.prefix = 'merged'
    }
    withName: 'CALL_CNVS:ADD_FOUND_IN_TAG' {
        ext.args = '--no-version'
        ext.args2 = [
            '--output-type z',
            '--write-index=tbi',
            '--no-version'
        ].join(' ')
    }
}
