process {
    withName: 'CALL_REPEAT_EXPANSIONS_TRGT:TRGT_MERGE' {
        ext.args = '--output-type z --force-single --write-index --no-version'
    }
    withName: 'CALL_REPEAT_EXPANSIONS_TRGT:BCFTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
        ext.args = '--output-type z --write-index=tbi'
    }
    withName: 'CALL_REPEAT_EXPANSIONS_TRGT:TRGT_GENOTYPE' {
        ext.args = { "--sample-name ${meta.id}" }
    }
    withName: 'CALL_REPEAT_EXPANSIONS_TRGT:BCFTOOLS_INDEX' {
        ext.args = "--tbi"
    }
    withName: 'CALL_REPEAT_EXPANSIONS_TRGT:VCFEXPRESS' {
        ext.prefix = { "${meta.id}_TRGT_found_in" }
        ext.args = { "-s \'FOUND_IN=return \"TRGT\"\' -e \"return true\"" }
    }
}
