process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Phasing
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: 'PHASING:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: 'PHASING:SAMTOOLS_CONVERT' {
        ext.prefix = { "${meta.id}_haplotagged" }
        ext.args = '--write-index'
    }

    withName: 'BCFTOOLS_MERGE' {
        ext.args = [
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
    }
}
