process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Phasing
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: 'PHASING:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: 'PHASING:BCFTOOLS_SORT' {
        ext.args = [
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
    }

    withName: 'PHASING:BCFTOOLS_CONCAT' {
        ext.args = [
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
    }

    withName: 'PHASING:BCFTOOLS_MERGE_LONGPHASE_(SNV|SV)' {
        ext.args = [
            '--output-type z',
            '--write-index=tbi',
            '--force-single'
        ].join(' ')
    }

    withName: 'PHASING:HIPHASE' {
        ext.args = { [
            '--ignore-read-groups'
        ].join(' ') }
    }

    withName: 'PHASING:LONGPHASE_PHASE' {
        ext.prefix = { "${meta.id}_phased" }
        ext.args = [
            '--pb',
            '--indels'
        ].join(' ')
    }

    withName: 'PHASING:LONGPHASE_HAPLOTAG' {
        ext.prefix = { "${meta.id}_haplotagged" }
    }

    withName: 'PHASING:WHATSHAP_PHASE' {
        ext.prefix = { "${meta.id}_phased" }
        ext.args = [
            '--indels',
            '--use-supplementary'
        ].join(' ')
    }

    withName: 'PHASING:WHATSHAP_STATS' {
        ext.prefix = { "${meta.id}_stats" }
    }

    withName: 'PHASING:WHATSHAP_HAPLOTAG' {
        ext.prefix = { "${meta.id}_haplotagged" }
        ext.args = [
            '--tag-supplementary'
        ].join(' ')
    }

    withName: 'PHASING:CRAMINO_PHASED' {
        ext.args = [
            '--karyotype',
            '--phased'
        ].join(' ')
        ext.prefix = { "${meta.id}_cramino_aligned_phased" }
    }

    withName: 'PHASING:SAMTOOLS_CONVERT' {
        ext.prefix = { "${meta.id}_haplotagged" }
        ext.args = '--write-index'
    }

    withName: 'DEEPVARIANT_RUNDEEPVARIANT' {
        ext.args = '--model_type PACBIO'
    }
}
