process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Phasing
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:PHASING:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:PHASING:BCFTOOLS_SORT' {
        ext.args = [
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
    }

    withName: '.*:PHASING:HIPHASE' {
        ext.args = { [
            '--ignore-read-groups'
        ].join(' ') }
    }

    withName: '.*:PHASING:LONGPHASE_PHASE' {
        ext.prefix = { "${meta.id}_phased" }
        ext.args = [
            params.preset.equals('ONT_R10') ? "--ont" : "--pb",
            '--indels'
        ].join(' ')
    }

    withName: '.*:PHASING:LONGPHASE_HAPLOTAG' {
        ext.prefix = { "${meta.id}_haplotagged" }
    }

    withName: '.*:PHASING:WHATSHAP_PHASE' {
        ext.prefix = { "${meta.id}_phased" }
        ext.args = [
            '--ignore-read-groups',
            '--indels',
            '--use-supplementary'
        ].join(' ')
    }

    withName: '.*:PHASING:WHATSHAP_STATS' {
        ext.prefix = { "${meta.id}_stats" }
    }

    withName: '.*:PHASING:WHATSHAP_HAPLOTAG' {
        ext.prefix = { "${meta.id}_haplotagged" }
        ext.args = [
            '--ignore-read-groups',
            '--tag-supplementary'
        ].join(' ')
    }

    withName: '.*:PHASING:CRAMINO_PHASED' {
        ext.args = [
            '--karyotype',
            '--phased'
        ].join(' ')
        ext.prefix = { "${meta.id}_cramino_aligned_phased" }
    }

    withName: '.*:PHASING:SAMTOOLS_CONVERT' {
        ext.prefix = { "${meta.id}_haplotagged" }
        ext.args = '--write-index'
    }

}
