process { withName: 'FASTQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/46/46daf2dad0169afd2ae047c3e50ed3776259f664bf07e5e06b045dc23449e994/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/78/78b89e91d89e9cc99ad5ade5be311f347838cb2acbfb4f13bc343b170be09ce4/data' } }
process { withName: 'SNIFFLES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/54/5442fefaf2312352bfc30a28db3189f6065bdaff622e235305cd7e4142323f0a/data' } }
