/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run genomic-medicine-sweden/nallo -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '15.GB'
    max_time   = '6.h'

    // Input data

    // Genome references

    fasta = params.pipelines_testdata_base_path + 'nallo/reference/hg38.test.fa.gz'
    input = params.pipelines_testdata_base_path + 'nallo/testdata/samplesheet.csv'

    bed = params.pipelines_testdata_base_path + 'nallo/reference/test_data.bed'

    // HiFiCNV
    hificnv_xy      = params.pipelines_testdata_base_path + 'nallo/reference/expected_cn.hg38.XY.bed'
    hificnv_xx      = params.pipelines_testdata_base_path + 'nallo/reference/expected_cn.hg38.XX.bed'
    hificnv_exclude = params.pipelines_testdata_base_path + 'nallo/reference/empty.bed'

    // Dipcall
    dipcall_par = params.pipelines_testdata_base_path + 'nallo/reference/hs38.PAR.bed'

    // TRGT
    trgt_repeats = params.pipelines_testdata_base_path + 'nallo/reference/pathogenic_repeats.hg38.bed'

    // SNV Annotation
    vep_cache = params.pipelines_testdata_base_path + 'nallo/reference/vep_cache_test_data.tar.gz'
    snp_db    = params.pipelines_testdata_base_path + 'nallo/testdata/snp_dbs.csv'

    // Somalier
    somalier_sites = params.pipelines_testdata_base_path + 'nallo/reference/somalier_sites.vcf.gz'

    parallel_snv = 3 // Create 3 parallel DeepVariant processes
    preset = "revio"

}

process {
    withName: '.*:NALLO:ASSEMBLY:HIFIASM' {

        ext.args = '-f0'
    }

    withName: '.*:CALL_PARALOGS:PARAPHASE' {

        ext.args = '--gene hba'
    }

    withName: '.*:NALLO:PHASING:WHATSHAP_PHASE' {

        ext.args = '--ignore-read-groups --indels --distrust-genotypes --include-homozygous'
    }

    withName: '.*:NALLO:ASSEMBLY_VARIANT_CALLING:MINIMAP2_INDEX_DIPCALL' {

        ext.args = "-x asm5"
    }

}
