/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run genomic-medicine-sweden/nallo -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Base directory for nf-core/modules test data
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

    // Base directory for genomic-medicine-sweden/nallo test data
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/genomic-medicine-sweden/test-datasets/7be7114cb132be8cae9343f225bcf42ec11ecc1b/'

    // References
    fasta                    = params.pipelines_testdata_base_path + 'reference/hg38.test.fa.gz'
    input                    = params.pipelines_testdata_base_path + 'testdata/samplesheet.csv'
    bed                      = params.pipelines_testdata_base_path + 'reference/test_data.bed'
    hificnv_xy               = params.pipelines_testdata_base_path + 'reference/expected_cn.hg38.XY.bed'
    hificnv_xx               = params.pipelines_testdata_base_path + 'reference/expected_cn.hg38.XX.bed'
    hificnv_exclude          = params.pipelines_testdata_base_path + 'reference/empty.bed'
    par_regions              = params.pipelines_testdata_base_path + 'reference/hs38.PAR.bed'
    trgt_repeats             = params.pipelines_testdata_base_path + 'reference/pathogenic_repeats.hg38.bed'
    variant_catalog          = params.pipelines_testdata_base_path + 'reference/variant_catalog_grch38.json'
    vep_cache                = params.pipelines_testdata_base_path + 'reference/vep_cache_test_data.tar.gz'
    vep_plugin_files         = params.pipelines_testdata_base_path + 'reference/vep_plugin_files.csv'
    snp_db                   = params.pipelines_testdata_base_path + 'testdata/snp_dbs.csv'
    svdb_dbs                 = params.pipelines_testdata_base_path + 'testdata/svdb_dbs.csv'
    reduced_penetrance       = params.pipelines_testdata_base_path + 'reference/reduced_penetrance.tsv'
    score_config_snv         = params.pipelines_testdata_base_path + 'reference/rank_model_snv.ini'
    variant_consequences_snv = params.pipelines_testdata_base_path + 'reference/variant_consequences_v2.txt'
    somalier_sites           = params.pipelines_testdata_base_path + 'reference/somalier_sites.vcf.gz'

    // Pipeline options
    parallel_alignments = 2
    parallel_snv        = 2
    preset              = "revio"

    // Test config options
    extra_modkit_options    = '--seed 1 --sampling-frac 0.1'
    extra_vep_options       = '--plugin SpliceAI,snv=spliceai_21_scores_raw_snv_-v1.3-.vcf.gz,indel=spliceai_21_scores_raw_snv_-v1.3-.vcf.gz'
    extra_paraphase_options = '--gene hba'
    extra_hifiasm_options   = '-f0 -k30 -w30 -D10 -r1 -N1'
}

// Impose same minimum Nextflow version as in nextflow.config
manifest {
    nextflowVersion = '!>=24.04.2'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    withLabel: 'process_high' {
        cpus = 4
        memory = '15.GB'
    }
    withLabel: 'process_medium' {
        cpus = 2
        memory = '7.GB'
    }
    withLabel: 'process_low' {
        cpus = 1
        memory = '3.GB'
    }
    withLabel: 'process_single' {
        cpus = 1
        memory = '3.GB'
    }
}
