process {

    withName: 'SCATTER_GENOME:GAWK_BUILD_INTERVALS' {
        ext.args2  = '-v FS=\'\\t\' -v OFS=\'\\t\' \'{ print $1, "0", $2 }\''
        ext.suffix = 'bed'
    }

    withName: 'SCATTER_GENOME:GAWK_EXTRACT_REGIONS' {
        ext.prefix = { "${meta.id}_${meta.genome}" }
        ext.args2  = { meta.genome == "mitochondrial"
            ? '\'\$1 == "chrM" || \$1 == "MT" || \$1 == "chrMT"\''
            : '\'\$1 != "chrM" && \$1 != "MT" && \$1 != "chrMT"\'' }
    }

    withName: 'SCATTER_GENOME:BEDTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'SCATTER_GENOME:BEDTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_merged" }
    }

    withName: 'CALL_MITOCHONDRIAL_VARIANTS:MITORSAW_HAPLOTYPE' {
        ext.args = '--minimum-maf 0.01 --minimum-read-count 2'
    }

    withName: 'CALL_MITOCHONDRIAL_VARIANTS:BCFTOOLS_VIEW_MITO' {
        ext.prefix = { "${meta.id}_mitochondrial_${meta.variant_type}" }
        ext.args   = {
            [
                '--output-type z',
                '--write-index=tbi',
                meta.variant_type == "sv"
                    ? "-i 'abs(strlen(REF)-strlen(ALT))>=50'"
                    : "-i 'abs(strlen(REF)-strlen(ALT))<50'",
            ].join(' ')
        }
    }

    withName: 'CALL_MITOCHONDRIAL_VARIANTS:DEEPVARIANT_RUNDEEPVARIANT' {
        tag        = { "${meta.id}_${meta.genome}" }
        ext.prefix = { intervals ? "${meta.id}_${intervals.baseName}_deepvariant" : "${meta.id}_deepvariant" }
        ext.args   = {
            [
                "--sample_name=${meta.id}",
                '--model_type=PACBIO',
                meta.sex == 1 ? '--haploid_contigs="chrX,chrY"' : '',
            ].join(' ')
        }
    }

}
