process {
    withName: 'DEEPVARIANT' {
        ext.prefix = { intervals ? "${meta.id}_${intervals}_deepvariant" : "${meta.id}_deepvariant" }
        ext.args = { [
            '--model_type WGS',
            "--sample_name=${meta.id}",
            '-vcf_stats_report=False'
        ].join(' ') }
    }

    withName: 'GLNEXUS' {
        ext.args = '--config DeepVariant_unfiltered'
    }

    withName: 'BCFTOOLS_CONCAT' {
        ext.prefix = { "${meta.id}_concat" }
        ext.args = [
            '--no-version',
            '--allow-overlaps'
        ].join(' ')
    }

    withName: 'BCFTOOLS_NORM_MULTISAMPLE' {
        ext.prefix = { "${meta.id}_norm_multisample" }
        ext.args = [
            '--no-version',
            '-m -',
            '--output-type z',
            '--write-index=csi',
            '-w 10000'
        ].join(' ')
    }

    withName: 'BCFTOOLS_NORM_SINGLESAMPLE' {
        ext.prefix = { "${meta.id}_norm_singlesample" }
        ext.args = [
            '--no-version',
            '-m -',
            '-w 10000',
            '--output-type u',
        ].join(' ')
    }

    withName: 'BCFTOOLS_FILLTAGS' {
        ext.prefix = { "${meta.id}_ac" }
        ext.args = [
            '--no-version',
            '--output-type u'
        ].join(' ')
    }

}
