process {
    withName: 'DEEPVARIANT' {
        ext.prefix = { intervals ? "${meta.id}_${intervals}_deepvariant" : "${meta.id}_deepvariant" }
        ext.args = { [
            '--model_type WGS',
            "--sample_name=${meta.id}"
            ].join(' ') }
    }
    withName: 'GLNEXUS' {
        ext.args = '--config DeepVariant_unfiltered'
    }
    withName: 'BCFTOOLS_CONCAT_GVCF' {
        ext.prefix = { "${meta.id}_concat_gvcf" }
        ext.args = '--no-version'
    }
    withName: 'BCFTOOLS_CONCAT_VCF' {
        ext.prefix = { "${meta.id}_concat_vcf" }
        ext.args = '--no-version'
    }
    withName: 'BCFTOOLS_SORT_GVCF' {
        ext.prefix = { "${vcf}_sorted.g" }
    }
    withName: 'BCFTOOLS_SORT_VCF' {
        ext.prefix = { "${vcf}_sorted" }
    }
    withName: 'BCFTOOLS_FILLTAGS' {
        ext.prefix = { "${vcf}_filltags" }
        ext.args = '--no-version'
    }
    withName: 'BCFTOOLS_NORM' {
        ext.prefix = { "${vcf}_norm" }
        ext.args = '--no-version'
    }
}
