process {
    withName: 'SPLITUBAM' {
        ext.args = "--split 2"
    }

    // ext.prefix: Samtools will not sort supplementary reads properly. To snapshot the md5sum,
    // they must be input in the same order and can therefore not be named the same
    withName: 'MINIMAP2_ALIGN' {
        ext.prefix = { "${reads}" }
        ext.args = {
            [
                "-y",
                "-x map-hifi",
                "--secondary=no",
                "-Y",
                "-R @RG\\\\tID:${meta.id}\\\\tSM:${meta.id}",
                "--MD",
            ].join(' ')
        }
        ext.args3 = {
            [
                '-x HP,PS',
                '-x AS,CC,CG,CP,H1,H2,HI,H0,IH,MC,MD,MQ,NM,SA,TS',
                '--no-RG',
            ].join(' ')
        }
        ext.args4 = '-T \\*'
    }

    withName: 'SAMTOOLS_MERGE' {
        ext.args = '--write-index'
        ext.prefix = { "${meta.id}_aligned" }
    }
}
