process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Extract relate somalier
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: '.*:BAM_INFER_SEX:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*:BAM_INFER_SEX:RELATE_INFER' {
        ext.args = '--infer --min-depth 10 --min-ab 0.4'
    }

}
