process {
    withName: 'CALL_REPEAT_EXPANSIONS_STRDUST:STRDUST' {
        ext.args = '--sorted'
    }
    withName: 'CALL_REPEAT_EXPANSIONS_STRDUST:BCFTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_repeat_expansions" }
        ext.args = '--write-index=tbi --output-type z --no-version --force-single'
    }
    withName: 'CALL_REPEAT_EXPANSIONS_STRDUST:VCFEXPRESS' {
        ext.prefix = { "${meta.id}_strdust_found_in" }
        ext.suffix = { "vcf.gz" }
        ext.args = { "-s \'FOUND_IN=return \"STRdust\"\' -e \"return true\"" }
    }
}
