process {
    withName: 'GENOME_ASSEMBLY:HIFIASM_ASSEMBLY|.*:GENOME_ASSEMBLY:HIFIASM_BINS' {
        ext.args = { [
            "${params.extra_hifiasm_options}",
            "${params.hifiasm_preset}",
            '--dual-scaf',
            '--telo-m CCCTAA',
            '--bin-only'
        ].join(' ') }
    }
    withName: 'GENOME_ASSEMBLY:GFASTATS' {
        ext.args   = '--discover-paths'
        ext.prefix = { "${meta.id}_haplotype_${meta.haplotype}" }
    }
    withName: 'ALIGN_ASSEMBLIES:MINIMAP2_INDEX' {
        ext.prefix = { "${meta.id}_assembly_index" }
        ext.args   = '-x asm5'
    }
    withName: 'ALIGN_ASSEMBLIES:MINIMAP2_ALIGN' {
        ext.prefix = { "${meta.id}_${meta.haplotype}" }
        ext.args = {
            [
                "-L",
                "--secondary=no",
                "-a",
                "--eqx",
                "-x asm5",
                "-R @RG\\\\tID:${meta.id}_hifiasm\\\\tSM:${meta.id}",
            ].join(' ')
        }
    }
    withName: 'ALIGN_ASSEMBLIES:SAMTOOLS_VIEW' {
        ext.prefix = 'filtered'
    }
    withName: 'ALIGN_ASSEMBLIES:TAGBAM' {
        ext.prefix = { "${meta.id}_haplotype_${meta.haplotype}" }
        ext.args = { "--tag HP --value ${meta.haplotype}" }
    }
    withName: 'ALIGN_ASSEMBLIES:SAMTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_filtered" }
        ext.args = '--write-index'
    }
    withName: 'ALIGN_ASSEMBLIES:SAMTOOLS_MERGE_UNFILTERED' {
        ext.prefix = { "${meta.id}_unfiltered" }
        ext.args = '--write-index'
    }

    withName: 'PORTELLO_ASSEMBLY:PBMM2_ALIGN' {
        ext.prefix = { "${meta.id}_aligned_to_assembly" }
        ext.args = {
            [
                '--sort',
                '--preset HIFI',
                '--unmapped',
            ].join(' ')
        }
        ext.args2 = {
            [
                '-x HP,PS',
                '-x AS,CC,CG,CP,H1,H2,HI,H0,IH,MC,MD,MQ,NM,SA,TS',
                '--no-RG',
            ].join(' ')
        }
        ext.args3 = '-T \\*'
    }
    withName: 'PORTELLO_ASSEMBLY:SAMTOOLS_MERGE' {
        ext.args   = '--write-index'
        ext.prefix = { "${meta.id}_aligned" }
    }
    withName: '.*:PORTELLO_ASSEMBLY:SAMTOOLS_CONVERT' {
        ext.prefix = { "${meta.id}_aligned" }
        ext.args   = '--write-index'
    }
    withName: '.*:PORTELLO_ASSEMBLY:SAMTOOLS_CALMD' {
        ext.prefix = { "${meta.id}_remapped_assembly_md" }
        ext.args = '-b '
    }

}
