/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'VCFEXPRESS' {
        ext.prefix = { "${meta.id}_${meta.sv_caller}_found_in" }
        ext.suffix = { "bcf.gz" }
        ext.args = { "-s \'FOUND_IN=return \"${meta.sv_caller}\"\' -e \"return true\"" }
    }

    withName: 'BCFTOOLS_CONCAT' {
        ext.args = [
            '--allow-overlaps',
            '--no-version',
        ].join(' ')
    }

    withName: 'BCFTOOLS_NORM_SINGLESAMPLE' {
        ext.prefix = { "${meta.id}_deepvariant_snvs" }
        ext.args   = [
            '-m -',
            '-w 10000',
            '--output-type z',
            '--write-index=tbi',
            '--no-version',
        ].join(' ')
    }
}
