/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: ADD_FOUND_IN_TAG {
        ext.prefix = { "${meta.id}_found_in" }
        ext.args   = '--no-version'
        ext.args2  = [
            '--output-type b',
            '--no-version',
        ].join(' ')
    }

    withName: BCFTOOLS_CONCAT {
        ext.args = '--allow-overlaps'
    }

    withName: BCFTOOLS_NORM_SINGLESAMPLE {
        ext.prefix = { "${meta.id}_deepvariant_snvs" }
        ext.args   = [
            '-m -',
            '-w 10000',
            '--output-type z',
            '--write-index=tbi',
        ].join(' ')
    }
}
