process {

    withName: 'MERGE_SVS:SVDB_MERGE_BY_CALLER' {
        ext.prefix = { "${meta.sv_caller}_svdb_merge_by_caller" }
        ext.args   = ['--bnd_distance 1000', '--overlap .5'].join(' ')
        ext.args2  = ['--output-type z', '--write-index=tbi', '--no-version'].join(' ')
    }

    withName: 'MERGE_SVS:SVDB_MERGE_BY_FAMILY' {
        ext.prefix = { "${meta.id}_svdb_merge_by_family" }
        ext.args2  = ['--output-type z', '--write-index=tbi', '--no-version'].join(' ')
    }
}
