process {
    withName: 'LONGPHASE:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: 'BCFTOOLS_MERGE' {
        ext.args = '--output-type z'
    }

    withName: 'LONGPHASE:BCFTOOLS_INDEX' {
        ext.args = '--tbi'
    }

    withName: 'LONGPHASE:BCFTOOLS_MERGE' {
        ext.args = [
            '--output-type z',
            '--write-index=tbi',
            '--force-single'
        ].join(' ')
    }

    withName: 'LONGPHASE:LONGPHASE_PHASE' {
        ext.prefix = { "${meta.id}_phased" }
        ext.args = [
            '--pb',
            '--indels'
        ].join(' ')
    }

    withName: 'LONGPHASE:LONGPHASE_HAPLOTAG' {
        ext.prefix = { "${meta.id}_haplotagged" }
    }

}
