process {
    withName: 'HIPHASE:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: 'HIPHASE:HIPHASE_TOOL' {
        ext.args = { [
            '--ignore-read-groups'
        ].join(' ') }
    }

    withName: 'BCFTOOLS_MERGE' {
        ext.args = [
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
    }
}
