process {
    withName: 'CALL_METHYLATION_METHBAT:PBCPGTOOLS_ALIGNEDBAMTOCPGSCORES' {
        ext.prefix = { "${meta.id}_pbcpgtools" }
    }
    withName: 'PHASING:LONGPHASE:BCFTOOLS_INDEX' {
        ext.args = '--tbi'
    }
    withName: 'PHASING:LONGPHASE:BCFTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_phased_${meta.variant_type}" }
        ext.args = [
            '--output-type z',
            '--write-index=tbi',
            '--no-version',
            '--force-single'
        ].join(' ')
    }
    withName: 'PHASING:LONGPHASE:LONGPHASE_PHASE' {
        ext.prefix = { "${meta.id}_phased" }
        ext.args = [
            '--pb',
            '--indels'
        ].join(' ')
    }
    withName: 'PHASING:LONGPHASE:LONGPHASE_HAPLOTAG' {
        ext.prefix = { "${meta.id}_haplotagged" }
    }
    withName: 'PHASING:LONGPHASE:SPLIT_MULTISAMPLE_VCF:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}.${meta.variant_type}" }
        ext.args = {[
            '--output-type z',
            '--no-version',
            "--samples ${meta.id}"
        ].join(' ') }
    }
    withName: 'CALL_METHYLATION_METHBAT:METHBAT_PROFILE' {
        ext.args = params.extra_methbat_profile_args
        ext.prefix = { "${meta.id}_methbat_profile" }
    }
}
