process {
    withName: 'CALL_METHYLATION_METHBAT:PBCPGTOOLS_ALIGNEDBAMTOCPGSCORES' {
        ext.prefix = { "${meta.id}_pbcpgtools" }
    }
    withName: 'PHASING:BCFTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
        ext.args = [
            '--output-type z',
            '--write-index=tbi',
        ].join(' ')
    }
    withName: 'PHASING:LONGPHASE_PHASE' {
        ext.prefix = { "${meta.id}_phased" }
        ext.args = [
            '--pb',
            '--indels'
        ].join(' ')
    }
    withName: 'PHASING:LONGPHASE_HAPLOTAG' {
        ext.prefix = { "${meta.id}_haplotagged" }
    }
    withName: 'CALL_METHYLATION_METHBAT:METHBAT_PROFILE' {
        ext.args = params.extra_methbat_profile_args
        ext.prefix = { "${meta.id}_methbat_profile" }
    }
}