
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/trannel/dev/jakob/data/containers"
    // runOptions = '--bind /fs1/ --bind /local/ --bind /mnt/beegfs/ --bind /fs2/'
}

process {
    withLabel: process_medium {
        cpus = 4
        memory = 4.GB
        time = 1.h
    }

    withLabel: process_single {
        cpus = 2
        memory = 40.GB
        time = 1.h
    }

    withName: 'PREPARE_GENS_INPUTS:MOSDEPTH' {
        ext.args = { [
            '-n',
            '--fast-mode',
            '--by 100',
        ].join(' ') }
    }

    withName: 'PREPARE_GENS_INPUTS:BCFTOOLS_CONCAT' {
        ext.args = {[
            '--allow-overlaps',
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')}
    }
}

