process {
    withName: 'PREPARE_GENS_INPUTS:SAMTOOLS_AMPLICONCLIP' {
        ext.args = '--hard-clip'
    }

    withName: 'PREPARE_GENS_INPUTS:PICARD_CLEANSAM' {
        ext.prefix = { "${meta.id}_cleaned" }
    }

    withName: 'PREPARE_GENS_INPUTS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
    }
}
