process {
    withName: HIFIASM {
        ext.args = '-f0 -k30 -w30 -D10 -r1 -N1'
    }
    withName: GFASTATS {
        ext.args = '--discover-paths'
    }
    withName: SAMTOOLS_VIEW {
        ext.prefix = 'filtered'
    }
    withName: TAGBAM {
        ext.prefix = { "${meta.id}_haplotype_${meta.haplotype}" }
        ext.args   = { "--tag HP --value ${meta.haplotype}" }
    }
    withName: SAMTOOLS_MERGE {
        ext.args = '--write-index'
    }
}
