process {
    withName: 'ANNOTATE_METHYLATION:CSVTK_JOIN' {
        ext.prefix = { "${meta.id}_with_hgnc_and_region_type" }
        ext.args   = {
            [
                "--tabs",
                "--out-tabs",
                "--fields chrom,start,end",
                "--keep-unmatched",
            ].join(' ')
        }
    }

    withName: 'ANNOTATE_METHYLATION:CSVTK_MUTATE2' {
        ext.prefix = { "${meta.id}_with_sample_id" }
        ext.args   = { "--name sample_id --expression \"\'${meta.id}\'\"" }
    }

    withName: 'ANNOTATE_METHYLATION:CSVTK_SORT' {
        ext.prefix = { "${meta.id}_methbat_profile_annotated" }
        ext.args   = { "--keys chrom:N --keys sample_id:N" }
    }
}
