process {
    withName: CSVTK_MUTATE2 {
        ext.prefix = { "${meta.id}_with_sample_id" }
        ext.args   = { "--name sample_id --expression \"\'${meta.id}\'\"" }
    }

    withName: CSVTK_SORT {
        ext.prefix = { "${meta.id}_methbat_profile_annotated" }
        ext.args   = { "--keys sample_id:N" }
    }
}
