process {

    withName: 'PARAPHASE' {
        ext.args = '--gene hba,OR1D5'
    }
    withName: 'SAMTOOLS_CONVERT' {
        ext.prefix = { "${meta.id}_paraphase" }
        ext.args = '--write-index'
    }
    withName: 'BCFTOOLS_MERGE' {
        ext.args = [
            '--output-type z',
            '--write-index=tbi',
            '--force-single',
            '--no-version'
        ].join(' ')
        ext.prefix = { "${meta.id}_paraphase_merged" }
    }
    withName: 'BCFTOOLS_QUERY' {
        ext.prefix = { "${vcf.simpleName}_bcftools_query" }
        ext.args = '--list-samples'
    }
    withName: 'BCFTOOLS_REHEADER' {
        ext.args2 = [
            '--output-type z',
            '--write-index=tbi'
        ].join(' ')
        ext.prefix = { "${meta.id}_bcftools_reheader" }
    }
    withName: 'CREATE_SAMPLES_HAPLOTYPES_FILE' {
        ext.prefix = { "${meta.id}_samples_file" }
    }
    withName: 'MERGE_JSON' {
        ext.prefix = { "${meta.id}" }
    }
}
