process {
    withName: 'GLNEXUS' {
        ext.args = '--config DeepVariant_unfiltered'
    }
    withName: 'BCFTOOLS_CONCAT_DV_VCF' {
        ext.prefix = "concat_dv_vcf"
        ext.args = '--no-version'
    }
    withName: 'BCFTOOLS_SORT_DV' {
        ext.prefix = { "${vcf}_sorted.g" }
    }
    withName: 'BCFTOOLS_SORT_DV_VCF' {
        ext.prefix = { "${vcf}_sorted" }
    }
    withName: 'BCFTOOLS_FILLTAGS' {
        ext.prefix = { "${vcf}_filltags" }
        ext.args = '--no-version'
    }
    withName: 'BCFTOOLS_NORM' {
        ext.prefix = { "${vcf}_norm" }
        ext.args = [
            '-m -',
            '--output-type b',
            '--write-index=csi',
            '-w 10000',
            '--no-version'
        ].join(' ')
    }
    withName: 'DEEPVARIANT' {
        ext.args = '--model_type PACBIO'
    }
    withName: 'MINIMAP2_ALIGN' {
        ext.args = '-x map-hifi'
        }
}
