process {

    withName: 'GENMOD_ANNOTATE' {
        ext.prefix = { "${meta.id}_genmod_annotate" }
        ext.args = { [
            '--annotate_regions',
            '--genome-build 38',
            '--temp_dir ./'
            ].join(' ') }
    }

    withName: 'GENMOD_MODELS' {
        ext.prefix = { "${meta.id}_genmod_models" }
        ext.args = "--temp_dir ./"
    }

    withName: 'GENMOD_SCORE' {
        ext.prefix = { "${meta.id}_genmod_score" }
        // The rank model used for the test contains plugins not avaible when running score only, so we skip those plugin checks with the `--skip_plugin_check` flag.
        ext.args = "--rank_results --skip_plugin_check"
    }

    withName: 'GENMOD_COMPOUND' {
        ext.prefix = { "${meta.id}_genmod_compound" }
        ext.args = "--temp_dir ./"
    }

    withName: 'BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_bcftools_view" }
        ext.args = "--output-type z --write-index=tbi"
    }
}
