name: nf-core CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:
    branches:
      - dev
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

env:
  NXF_ANSI_LOG: false
  NXF_SINGULARITY_CACHEDIR: ${{ github.workspace }}/.singularity
  NXF_SINGULARITY_LIBRARYDIR: ${{ github.workspace }}/.singularity
  NFTEST_VER: "0.9.2"

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

permissions:
  checks: write

jobs:
  test:
    name: ${{ matrix.tags }} | ${{ matrix.profile }} | NF-${{ matrix.NXF_VER }}
    # Only run on push if this is the dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'genomic-medicine-sweden/nallo') }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        NXF_VER:
          - "24.04.2"
          - "latest-stable"
        tags:
          - "samplesheet"
          - "samplesheet_multisample_bam"
          - "samplesheet_multisample_ont_bam"
          - "ALIGN_ASSEMBLIES"
          - "ANNOTATE_SVS"
          - "CALL_REPEAT_EXPANSIONS_STRDUST"
          - "CALL_REPEAT_EXPANSIONS_TRGT"
          - "CALL_SVS"
          - "METHYLATION"
          - "RANK_VARIANTS"
          - "SHORT_VARIANT_CALLING"
          - "SNV_ANNOTATION"
        profile:
          - "docker"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "${{ matrix.NXF_VER }}"

      - uses: nf-core/setup-nf-test@v1
        with:
          version: ${{ env.NFTEST_VER }}
          install-pdiff: true

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          architecture: "x64"

      - name: Run nf-test
        run: |
          nf-test test \
            --ci \
            --changed-since HEAD^ \
            --verbose \
            --tag ${{ matrix.tags }} \
            --profile "+${{ matrix.profile }}" \
            --junitxml=test.xml
