process {

    withName: 'UNTAR' {
        ext.prefix = { "${name}".contains('merged') ? './vep_cache/homo_sapiens_merged/' : './vep_cache/homo_sapiens/' }
    }

    withName: 'ANNOTATE_SVS:ENSEMBLVEP_SV' {
        ext.args = { [
            '--offline',
            '--vcf',
            '--compress_output bgzip'
        ].join(' ') }
    }
    withName: 'CALL_SVS:SVDB_MERGE' {
        ext.args2 = '--no-version'
    }
}
